<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwz.fullstack.mapper.GoodsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xwz.fullstack.entity.GoodsCategory">
        <id column="category_id" property="categoryId" />
        <result column="name_category" property="nameCategory" />
    </resultMap>

</mapper>
